@font-face {
  font-family: 'CommitMonoDev';
  src:
    local('CommitMonoDev'),
    url(./CommitMonoDev-400-Regular.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CommitMonoDev';
  src:
    local('CommitMonoDev'),
    url(./CommitMonoDev-400-Italic.otf) format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CommitMonoDev';
  src:
    local('CommitMonoDev'),
    url(./CommitMonoDev-700-Italic.otf) format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'CommitMonoDev';
  src:
    local('CommitMonoDev'),
    url(./CommitMonoDev-700-Regular.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}
